<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            visible="true">
         <run
               class="studiodietetico.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="studiodietetico.Perspective"
            id="StudioDietetico.perspective"
            name="studio dietetico">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandMedico"
            name="CommandMedico">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandPaziente"
            name="CommandPaziente">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandParametroAntropometrico"
            name="CommandParametroAntropometrico">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandEsameClinico"
            name="CommandEsameClinico">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandPrenotaVisita"
            name="CommandPrenotaVisita">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandRegistraVisita"
            name="CommandRegistraVisita">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandRilevazioneParametroAntropometrico"
            name="CommandRilevazioneParametroAntropometrico">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandRisultatoAnalisi"
            name="CommandRisultatoAnalisi">
      </command>
      <category
            description="Command Category Description"
            id="StudioDietetico.category1"
            name="Command Category Name">
      </category>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandStatistiche"
            name="CommandStatistiche">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandAnamnesi"
            name="CommandAnamnesi">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandExit"
            name="CommandExit">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandGrafici"
            name="CommandGrafici">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandDinamiche"
            name="CommandDinamiche">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandRegistrazione"
            name="CommandRegistrazione">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandMedicoRicerca"
            name="CommandMedicoRicerca">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandPazienteRicerca"
            name="CommandPazienteRicerca">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandVisitaRicerca"
            name="CommandVisitaRicerca">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandTurniRicerca"
            name="CommandTurniRicerca">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandDietaRicerca"
            name="CommandDietaRicerca">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandEsameClinicoRicerca"
            name="CommandEsameClinicoRicerca">
      </command>
      <command
            categoryId="StudioDietetico.category1"
            id="StudioDietetico.CommandParametroAntropometricoRicerca"
            name="CommandParametroAntropometricoRicerca">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handler.MenuMedicoHandler"
            commandId="StudioDietetico.CommandMedico">
      </handler>
      <handler
            class="handler.MenuPazienteHandler"
            commandId="StudioDietetico.CommandPaziente">
      </handler>
      <handler
            class="handler.MenuParametroAntropometricoHandler"
            commandId="StudioDietetico.CommandParametroAntropometrico">
      </handler>
      <handler
            class="handler.MenuEsameClinicoHandler"
            commandId="StudioDietetico.CommandEsameClinico">
      </handler>
      <handler
            class="handler.MenuPrenotaVisitaHandler"
            commandId="StudioDietetico.CommandPrenotaVisita">
      </handler>
      <handler
            class="handler.MenuRegistraVisitaHandler"
            commandId="StudioDietetico.CommandRegistraVisita">
      </handler>
      <handler
            class="handler.MenuRilevazioneParametroAntroHandler"
            commandId="StudioDietetico.CommandRilevazioneParametroAntropometrico">
      </handler>
      <handler
            class="handler.MenuRisultatoAnalisiHandler"
            commandId="StudioDietetico.CommandRisultatoAnalisi">
      </handler>
      <handler
            class="handler.MenuStatisticheHandler"
            commandId="StudioDietetico.CommandStatistiche">
      </handler>
      <handler
            class="handler.MenuAnamnesiHandler"
            commandId="StudioDietetico.CommandAnamnesi">
      </handler>
      <handler
            class="handler.MenuExitHandler"
            commandId="StudioDietetico.CommandExit">
      </handler>
      <handler
            class="handler.MenuGraficiHandler"
            commandId="StudioDietetico.CommandGrafici">
      </handler>
      <handler
            class="handler.MenuDinamicheHandler"
            commandId="StudioDietetico.CommandDinamiche">
      </handler>
      <handler
            class="handler.MenuRegistrazioneHandler"
            commandId="StudioDietetico.CommandRegistrazione">
      </handler>
      <handler
            class="handler.MenuMedicoRicercaHandler"
            commandId="StudioDietetico.CommandMedicoRicerca">
      </handler>
      <handler
            class="handler.MenuPazienteRicercaHandler"
            commandId="StudioDietetico.CommandPazienteRicerca">
      </handler>
      <handler
            class="handler.MenuVisitaRicercaHandler"
            commandId="StudioDietetico.CommandVisitaRicerca">
      </handler>
      <handler
            class="handler.MenuTurniRicercaHandler"
            commandId="StudioDietetico.CommandTurniRicerca">
      </handler>
      <handler
            class="handler.MenuDietaRicercaHandler"
            commandId="StudioDietetico.CommandDietaRicerca">
      </handler>
      <handler
            class="handler.MenuEsameClinicoRicercaHandler"
            commandId="StudioDietetico.CommandEsameClinicoRicerca">
      </handler>
      <handler
            class="handler.MenuParametroAntropometricoRicercaHandler"
            commandId="StudioDietetico.CommandParametroAntropometricoRicerca">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               icon="icons/Libra-32.png"
               id="StudioDietetico.MenuGestione"
               label="Studio Dietetico">
            <command
                  commandId="StudioDietetico.CommandPazienteRicerca"
                  icon="icons/user-group-32.png"
                  label="Gestione Paziente"
                  style="push">
            </command>
            <command
                  commandId="StudioDietetico.CommandVisitaRicerca"
                  icon="icons/Medical-invoice-information.ico"
                  label="Gestione Visite"
                  style="push">
            </command>
            <command
                  commandId="StudioDietetico.CommandDietaRicerca"
                  icon="icons/Apple-32.png"
                  label="Gestione Diete"
                  style="push">
            </command>
            <command
                  commandId="StudioDietetico.CommandEsameClinicoRicerca"
                  icon="icons/Test Tubes_32x32.png"
                  label="Gestione Esami Clinici"
                  style="push">
            </command>
            <command
                  commandId="StudioDietetico.CommandParametroAntropometricoRicerca"
                  icon="icons/stethoscope.ico"
                  label="Gestione Parametro Antropometrico"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/doctor_assistant-32.png"
               id="StudioDietetico.Personale"
               label="Gestione Personale">
            <command
                  commandId="StudioDietetico.CommandMedicoRicerca"
                  icon="icons/doctor_assistant-32.png"
                  label="Gestione Medico"
                  style="push">
            </command>
            <command
                  commandId="StudioDietetico.CommandTurniRicerca"
                  icon="icons/Clock-32.png"
                  label="Gestione Turni"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/Administrative Tools-32.png"
               id="StudioDietetico.Utilità"
               label="Utilità">
            <command
                  commandId="StudioDietetico.CommandRegistrazione"
                  icon="icons/Padlocks_32.png"
                  label="Gestione Accessi"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/Stats-32.png"
               id="StudioDietetico.Statistiche"
               label="Interrogazioni">
            <command
                  commandId="StudioDietetico.CommandStatistiche"
                  icon="icons/Stats2-32.png"
                  label="Statistiche"
                  style="push">
            </command>
            <command
                  commandId="StudioDietetico.CommandDinamiche"
                  icon="icons/image201002020010_2.png.jpg"
                  label="Dinamiche"
                  style="push">
            </command>
            <command
                  commandId="StudioDietetico.CommandGrafici"
                  icon="icons/Stats-32.png"
                  label="Statistiche Automatiche"
                  style="push">
            </command>
         </menu>
         <command
               commandId="StudioDietetico.CommandExit"
               icon="icons/exit-32.png"
               id="StudioDietetico.Exit"
               label="Exit"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="studiodietetico.RegistraPazienteView"
            id="StudioDietetico.RegistraPazienteView"
            name="Registra Paziente">
      </view>
      <view
            allowMultiple="true"
            class="studiodietetico.PrenotaVisitaView"
            id="StudioDietetico.PrenotaVisitaView"
            name="Prenota visita">
      </view>
	  <view
            allowMultiple="true"
            class="studiodietetico.RegistraMedicoView"
            id="StudioDietetico.RegistraMedicoView"
            name="Registra Medico">
      </view>
      <view
            allowMultiple="true"
            class="studiodietetico.ParametroAntropometricoView"
            id="StudioDietetico.ParametroAntropometricoView"
            name="Parametro Antropometrico">
      </view>
      <view
            allowMultiple="true"
            class="studiodietetico.RilevazioneParametroAntroView"
            id="StudioDietetico.RilevazioneParametroAntroView"
            name="Rilevazione Parametri Antropometrici">
      </view>
      <view
            allowMultiple="true"
            class="studiodietetico.EsameClinicoView"
            id="StudioDietetico.EsameClinicoView"
            name="Esame Clinico">
      </view>
      <view
            allowMultiple="true"
            class="studiodietetico.RisultatoAnalisiView"
            id="StudioDietetico.RisultatoAnalisiView"
            name="Risultato Analisi">
      </view>
      <view
			allowMultiple="true"
            class="studiodietetico.RegistraVisitaView"
            id="StudioDietetico.RegistraVisitaView"
            name="Registra Visita">
      </view>
	  <view
            allowMultiple="true"
            class="statistics.StatisticheView"
            id="StatisticheViewID"
            name="Statistiche"
            restorable="true">
      </view>
      <view
            class="studiodietetico.HomePazienteView"
            id="HomePazienteView"
            name="Home Paziente"
            restorable="true">
      </view>
      <view
            class="studiodietetico.AnamnesiShell"
            id="StudioDietetico.anamnesi"
            name="Gestione Anamnesi"
            restorable="true">
      </view>
      <view
            class="studiodietetico.TurniMediciView"
            id="StudioDietetico.TurniMediciView"
            name="Turni medici"
            restorable="true">
      </view>
	  <view
            class="statistics.StatisticheGraficiView"
            id="GraficiViewID"
            name="Statistiche Automatiche"
            restorable="true">
      </view>
      <view
            class="studiodietetico.DynamicQueryView"
            id="StudioDietetico.DynamicQueryView"
            name="DynamicQuery"
            restorable="true">
      </view>
      <view
            class="studiodietetico.InserisciRicettaView"
            id="StudioDietetico.InserisciRicettaView"
            name="Inserisci Ricetta"
            restorable="true">
      </view>
      <view
            class="studiodietetico.InserisciDietaView"
            id="StudioDietetico.InserisciDietaView"
            name="Inserisci Dieta"
            restorable="true">
      </view>
      <view
            class="security.LoginView"
            id="LoginViewID"
            name="Login"
            restorable="true">
      </view>
      <view
            class="security.RegistrazioneView"
            id="registrazioneViewID"
            name="Gestione Utenti"
            restorable="true">
      </view>
      <view
            class="studiodietetico.AnamnesiTTableView"
            id="StudioDietetico.AnamnesiTableView"
            name="Anamnesi"
            restorable="true">
      </view>
      <view
            class="studiodietetico.VisitaTableView"
            id="StudioDietetico.VisitaTableView"
            name="Visite"
            restorable="true">
      </view>
      <view
            class="studiodietetico.PazienteTableView"
            id="StudioDietetico.PazienteTableView"
            name="Pazienti"
            restorable="true">
      </view>
      <view
            class="studiodietetico.MedicoTableView"
            id="StudioDietetico.MedicoTableView"
            name="Medici"
            restorable="true">
      </view>
      <view
            class="studiodietetico.PrenotazioneTableView"
            id="StudioDietetico.PrenotazioneTableView"
            name="Prenotazioni"
            restorable="true">
      </view>
      <view
            class="studiodietetico.DietaTableView"
            id="StudioDietetico.DietaTableView"
            name="Diete"
            restorable="true">
      </view>
      <view
            class="studiodietetico.PrescrizioneTableView"
            id="StudioDietetico.PrescrizioneTableView"
            name="Prescrizioni"
            restorable="true">
      </view>
      <view
            class="studiodietetico.TurniTableView"
            id="StudioDietetico.TurniTableView"
            name="Turni"
            restorable="true">
      </view>
      <view
            class="studiodietetico.RegistraFatturaView"
            id="StudioDietetico.RegistraFatturaView"
            name="Registra Fattura"
            restorable="true">
      </view>
      <view
            class="studiodietetico.FattureTableView"
            id="StudioDietetico.FattureTableView"
            name="Fatture"
            restorable="true">
      </view>
      <view
            class="studiodietetico.EsameClinicoTableView"
            id="StudioDietetico.EsameClinicoTableView"
            name="Esame Clinico"
            restorable="true">
      </view>
      <view
            class="studiodietetico.ParametroAntropometricoTableView"
            id="StudioDietetico.ParametroAntropometricoTableView"
            name="Parametro Antropometrico"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="StudioDietetico.application"
            name="RCP Application">
         <property
               name="windowImages"
               value="icons/Libra-32.png">
         </property>
      </product>
   </extension>

</plugin>

